*{
  margin: 0;
  padding: 0;
}

ul{

  li{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }
}


body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(205deg, rgba(41,44,175,1) 11%, rgba(71,71,170,1) 56%, rgba(59,121,126,0.9886039886039886) 90%);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main{
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addNewTask{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

  .inpAddTask{
    width: 40vw;
    min-height: 5vh;
    overflow-wrap: anywhere;
    border: none;
    overflow: none;
    border-radius: 10px;
    margin-right: 1vw;
    outline: none;
    padding-left: 1vw;
    transition: 0.4s ease-in-out;
  }

  .btnAddTask{
    height: 5vh;
    width: 3vw;
    border-radius: 6px;
    border: none;
    overflow: none;
    outline: none;
    cursor: pointer;
    background: #fff;
  }
}

.tasks{
  margin-top: 4vh;
  display: flex;
  justify-content: center;
}

.tasksList{


  >li{
    margin-top: 3vh;
  }
}

.task{
  display: flex;
  justify-content: center;
  align-items: center;

  .textTask{
    width: 40vw;
    min-height: 5vh;
    overflow-wrap: anywhere;
    border: none;
    overflow: none;
    border-radius: 10px;
    margin-right: 1vw;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
    font-family: sans-serif;
    transition: 0.4s ease-in-out;
  }

  .btnTaskDone{
    height: 5vh;
    min-width: 3vw;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
    border: none;
    overflow: none;
    outline: none;
    cursor: pointer;
    font-family: sans-serif;
  }
}

.done{
  opacity: 0.6;

  >p {
    text-decoration: line-through;
    color: #282539;
  }
}

.btnAddTask:hover{
  box-shadow: 14px -10px 17px -1px rgba(107, 18, 169, 0.45);
  transition: 0.2s ease-in-out;
}

.btnTaskDone:hover {
  box-shadow: 14px -10px 17px -1px rgba(107, 18, 169, 0.45);
  transition: 0.2s ease-in-out;
}

.inpAddTask:hover,
.inpAddTask:focus {
  box-shadow: -16px -9px 18px 4px rgba(18, 60, 92, 0.3);
  transition: 0.4s ease-in-out;
}

.textTask:hover,
.textTask:focus {
  box-shadow: -16px -9px 18px 4px rgba(18, 60, 92, 0.3);
  transition: 0.4s ease-in-out;
}