.btn{
    margin-top: 1vh;
    padding: 7px 12px;
    border-radius: 4px;
    border: none;
    background: rgba(184, 191, 198, 1);
    color: #6366f1;
    font-weight: 600;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.btn:hover {
    color: rgba(184, 191, 198, 1);
    background: #6366f1;
    -webkit-box-shadow: 0px 3px 18px 6px rgba(99, 102, 241, 0.28);
    -moz-box-shadow: 0px 3px 18px 6px rgba(99, 102, 241, 0.28);
    box-shadow: 0px 3px 18px 6px rgba(99, 102, 241, 0.28);
}